<%= stylesheet_link_tag 'perfumes', :media => "all" %>
 <div class="title">
            あなたはこれまでの人生でラーメン選びに困ったことはありませんか？？
     </div>
     </main>


    <div class="container">
    
            <div class="circle">
                <div class="name">
                    こってりしたのを食べたい、、、 
                </div>
                
                
            </div>
            <div class="circle">
                <div class="list">
                    この後予定があってにんにくは控えたい、、、
                </div>
                
            </div>
            <div class="circle">
                 <div class="list">
                   深夜にやってるラーメンってどこ？
                </div>
                
            </div>
        </div>

<div class="title">
            そんなあなたに渋谷駅周辺のおすすめのラーメン屋がわかるサイトです
                </div>
<div class="container">
    
            <div class="circle2">
                
                
                
            </div>
            <div class="circle3">
                
                
            </div>
            <div class="circle4">
                
                
            </div>
        </div>
               


<div class="role">
<h3>おすすめラーメン診断スタート</h3>
<%= link_to "診断を始める", new_perfume_path, class: "link" %>
</div>
</div>

