<div class="intoro">
  <h5>診断結果</h5>
  <p>あなたにおすすめのラーメンは…</p>
</div>
<div class="perfume-container">
  <% case [@perfume.question1, @perfume.question2, @perfume.question3, @perfume.question4] %>
  <% when ["1", "1", "1", "1"] %>
    <h3>家系、二郎系</h3>
    <p>横浜家系 侍 渋谷店</p>
    <p>麺屋 大和田</p>
    <p> 町田商店 渋谷店</p>
    <p> 野郎ラーメン</p>
  <% when ["1", "1", "1", "2"] %>
    <h3>家系、二郎系</h3>
    <p>横浜家系 侍 渋谷店</p>
    <p> 町田商店 渋谷店</p>
    <p> 頂マーラータン </p>
  <% when ["1", "1", "2", "1"] %>
    <h3>家系、二郎系</h3>
     <p>横浜家系 侍 渋谷店</p>
    <p>麺屋 大和田</p>
    <p> 町田商店 渋谷店</p>
    <p> 野郎ラーメン</p>
  <% when ["1", "1", "2", "2"] %>
     <h3>家系、マーラータン</h3>
     <p>頂マーラータン</p>
    <p>麺屋 大和田</p>
    <p> 町田商店 渋谷店</p>
    <p> 渋谷文化進化</p>
  <% when ["1", "2", "1", "1"] %>
    <h3>家系、淡麗系</h3>
    <p>長岡生姜ラーメン</p>
    <p>麺屋 大和田</p>
  <% when ["1", "2", "1", "2"] %>
    <h3>家系、淡麗系、マーラータン</h3>
    <p>頂マーラータン</p>
    <p>長岡生姜ラーメン</p>
    <p>麺屋 大和田</p>
  <% when ["1", "2", "2", "1"] %>
    <h3>家系、淡麗系</h3>
    <p>長岡生姜ラーメン</p>
    <p>麺屋 大和田</p>
  <% when ["1", "2", "2", "2"] %>
    <h3>家系、淡麗系、マーラータン</h3>
    <p>頂マーラータン</p>
    <p>長岡生姜ラーメン</p>
    <p>麺屋 大和田</p>



  <% when ["2", "1", "1", "1"] %>
    <h3>淡麗系、中華</h3>
    <p>青山シャンウェイ 渋谷</p>
    <p>東京油組総本店 渋谷組</p>
    <p>長岡生姜ラーメン</p>
  <% when ["2", "1", "1", "2"] %>
   <h3>淡麗系、中華</h3>
    <p>青山シャンウェイ 渋谷</p>
    <p>Renge no Gotoku</p>
    <p>長岡生姜ラーメン</p>
  <% when ["2", "1", "2", "1"] %>
    <h3>淡麗系、中華、家系</h3>
    <p>青山シャンウェイ 渋谷</p>
    <p> 町田商店 渋谷店</p>
    <p>長岡生姜ラーメン</p>
  <% when ["2", "1", "2", "2"] %>
    <h3>淡麗系、中華</h3>
    <p>青山シャンウェイ 渋谷</p>
    <p>Renge no Gotoku</p>
    <p>長岡生姜ラーメン</p>
  <% when ["2", "2", "1", "1"] %>
    <h3>淡麗系、中華</h3>
    <p>青山シャンウェイ 渋谷</p>
    <p>らあ麺はやし田 渋谷店</p>
    <p>長岡生姜ラーメン</p>
  <% when ["2", "2", "1", "2"] %>
    <h3>淡麗系、中華、マーラータン</h3>
    <p>青山シャンウェイ 渋谷</p>
    <p>頂マーラータン</p>
    <p>長岡生姜ラーメン</p>
  <% when ["2", "2", "2", "1"] %>
     <h3>淡麗系、中華</h3>
    <p>青山シャンウェイ 渋谷</p>
    <p>Renge no Gotoku</p>
    <p>長岡生姜ラーメン</p>
  <% when ["2", "2", "2", "2"] %>
    <h3>淡麗系、中華、マーラータン</h3>
    <p>青山シャンウェイ 渋谷</p>
    <p>頂マーラータン</p>
    <p>長岡生姜ラーメン</p>

  <% when ["1", "1", "3", "1"] %>
  <h3>味噌、豚骨</h3>
    <p>炙り味噌らーめん 麺匠 真武咲弥 渋谷店</p>
    <p>らあめん渋英</p>
    <p>イップウドウ シロマル ベース 渋谷店</p>

    <% when ["1", "2", "3", "1"] %>
  <h3>味噌、豚骨</h3>
    <p>炙り味噌らーめん 麺匠 真武咲弥 渋谷店</p>
    <p>らあめん渋英</p>
    <p>イップウドウ シロマル ベース 渋谷店</p>

    <% when ["1", "2", "3", "2"] %>
  <h3>味噌、豚骨</h3>
    <p>炙り味噌らーめん 麺匠 真武咲弥 渋谷店</p>
    <p>渋谷三丁目らあめん</p>
    <p>イップウドウ シロマル ベース 渋谷店</p>

    <% when ["2", "1", "3", "1"] %>
  <h3>味噌、豚骨</h3>
    <p>炙り味噌らーめん 麺匠 真武咲弥 渋谷店</p>
    <p>渋谷三丁目らあめん</p>
    <p>イップウドウ シロマル ベース 渋谷店</p>
    <% when ["2", "2", "3", "1"] %>
  <h3>味噌、豚骨</h3>
    <p>炙り味噌らーめん 麺匠 真武咲弥 渋谷店</p>
    <p>渋谷三丁目らあめん</p>
    <p>イップウドウ シロマル ベース 渋谷店</p>
    <% when ["2", "2", "3", "2"] %>
  <h3>味噌、豚骨</h3>
    <p>炙り味噌らーめん 麺匠 真武咲弥 渋谷店</p>
    <p>らあめん渋英</p>
    <p>イップウドウ シロマル ベース 渋谷店</p>

    <% when ["3", "1", "1", "1"] %>
  <h3>味噌、豚骨、家系</h3>
    <p>とんこつラーメン博多風龍 渋谷店</p>
    <p>らあめん渋英</p>
    <p>らーめん侍 渋谷本店</p>
    <p>ラーメン526</p>

    <% when ["3", "1", "2", "1"] %>
  <h3>味噌、豚骨、家系、二郎系</h3>
    <p>とんこつラーメン博多風龍 渋谷店</p>
    <p>らあめん渋英</p>
    <p>らーめん侍 渋谷本店</p>
    <p>ラーメン526</p>

    <% when ["3", "1", "2", "2"] %>
  <h3>味噌、豚骨、家系、二郎系</h3>
    <p>麺屋 大和田</p>
    <p>らあめん渋英</p>
    <p>らーめん侍 渋谷本店</p>
    <p>ラーメン526</p>
    <% when ["3", "1", "3", "1"] %>
      <h3>味噌、豚骨、家系</h3>
   <p>炙り味噌らーめん 麺匠 真武咲弥 渋谷店</p>
    <p>らあめん渋英</p>
    <p>渋谷三丁目らあめん</p>
     <% when ["3", "1", "3", "2"] %>
      <h3>味噌、豚骨、家系</h3>
   <p>炙り味噌らーめん 麺匠 真武咲弥 渋谷店</p>
    <p>らあめん渋英</p>
    <p>イップウドウ シロマル ベース 渋谷店</p>

    <% when ["3", "2", "1", "1"] %>
  <h3>淡麗系、中華</h3>
    <p>らあ麺はやし田</p>
    <p>Renge no Gotoku</p>
    <p>長岡生姜ラーメン</p>

    <% when ["3", "2", "1", "2"] %>
    <h3>淡麗系、中華、マーラータン</h3>
    <p>らあ麺はやし田</p>
    <p>soba MAREN 渋谷店</p>
    <p>頂マーラータン</p>


    <% when ["3", "2", "2", "1"] %>
  <h3>淡麗系、中華</h3>
    <p>らあ麺はやし田</p>
    <p>Renge no Gotoku</p>
    <p>長岡生姜ラーメン</p>

    <% when ["3", "2", "2", "2"] %>
  <h3>淡麗系、中華</h3>
    <p>らあ麺はやし田</p>
    <p>Renge no Gotoku</p>
    <p>長岡生姜ラーメン</p>

     <% when ["3", "2", "3", "1"] %>
    <h3>味噌、豚骨</h3>
    <p>炙り味噌らーめん 麺匠 真武咲弥 渋谷店</p>
    <p>らあめん渋英</p>
    <p>イップウドウ シロマル ベース 渋谷店</p>

    <% when ["3", "2", "3", "2"] %>
     <h3>味噌、豚骨</h3>
    <p>炙り味噌らーめん 麺匠 真武咲弥 渋谷店</p>
    <p>渋谷三丁目らあめん</p>
    <p>イップウドウ シロマル ベース 渋谷店</p>


     <% when ["4", "1", "1", "1"] %>
  <h3>淡麗系、中華、二郎系</h3>
    <p>らーめんはやし </p>
    <p>らあめん渋英</p>
    <p>らあ麺はやし田</p>
    <p>ラーメン526</p>

     <% when ["4", "1", "2", "1"] %>
  <h3>味噌、豚骨、家系、二郎系</h3>
    <p>らーめんはやし </p>
    <p>らあめん渋英</p>
    <p>らあ麺はやし田</p>
    <p>ラーメン526</p>

    <% when ["4", "1", "2", "2"] %>
  <h3>味噌、豚骨、家系、マーラータン</h3>
    <p>麺屋 大和田</p>
    <p>町田商店</p>
    <p>らあめん渋英</p>
    <p>頂マーラータン</p>

    <% when ["4", "1", "3", "1"] %>
  <h3>味噌、豚骨</h3>
    <p>炙り味噌らーめん 麺匠 真武咲弥 渋谷店</p>
    <p>らあめん渋英</p>
    <p>イップウドウ シロマル ベース 渋谷店</p>

    <% when ["4", "1", "3", "2"] %>
      <h3>味噌、豚骨、家系</h3>
   <p>炙り味噌らーめん 麺匠 真武咲弥 渋谷店</p>
    <p>渋谷三丁目らあめん</p>
    <p>イップウドウ シロマル ベース 渋谷店</p>
<% when ["4", "2", "1", "1"] %>
  <h3>淡麗系、中華</h3>
    <p>soba MAREN 渋谷店</p>
    <p>頂マーラータン</p>
    <p>らあ麺はやし田</p>
    <% when ["4", "2", "1", "2"] %>
    <h3>淡麗系、中華、マーラータン</h3>
    <p>らーめんはやし</p>
    <p>頂マーラータン</p>
    <p>らあ麺はやし田</p>

    <% when ["4", "2", "2", "1"] %>
  <h3>淡麗系、中華</h3>
  <p>らーめんはやし</p>
    <p>soba MAREN 渋谷店</p>
    <p>らあ麺はやし田</p>

    <% when ["4", "2", "2", "2"] %>
  <h3>淡麗系、中華</h3>
  <p>青山シャンウェイ 渋谷</p>
  <p>soba MAREN 渋谷店</p>
  <p>らあ麺はやし田</p>

   <% when ["4", "2", "3", "1"] %>
    <h3>味噌、豚骨</h3>
    <p>炙り味噌らーめん 麺匠 真武咲弥 渋谷店</p>
    <p>らあめん渋英</p>
    <p>イップウドウ シロマル ベース 渋谷店</p>

    <% when ["4", "2", "3", "2"] %>
     <h3>味噌、豚骨</h3>
     <p>炙り味噌らーめん 麺匠 真武咲弥 渋谷店</p>
    <p>らあめん渋英</p>
    <p>イップウドウ シロマル ベース 渋谷店</p>

     <% when ["5", "1", "1", "1"] %>
  <h3>家系、二郎系</h3>
    <p>横浜家系 侍 渋谷店</p>
    <p>麺屋 大和田</p>
    <p> 町田商店 渋谷店</p>
    <p> 野郎ラーメン</p>

    <% when ["5", "1", "2", "1"] %>
   <h3>家系、二郎系</h3>
    <p>横浜家系 侍 渋谷店</p>
    <p>麺屋 大和田</p>
    <p> 町田商店 渋谷店</p>
    <p> 野郎ラーメン</p>

    <% when ["5", "1", "2", "2"] %>
  <h3>味噌、豚骨、家系、マーラータン</h3>
  <p>麺屋 大和田</p>
    <p>町田商店</p>
    <p>らあめん渋英</p>
    <p>頂マーラータン</p>

    <% when ["5", "1", "3", "1"] %>
    <h3>味噌、豚骨</h3>
    <p>炙り味噌らーめん 麺匠 真武咲弥 渋谷店</p>
    <p>らあめん渋英</p>
    <p>イップウドウ シロマル ベース 渋谷店</p>
 
     <% when ["5", "1", "3", "2"] %>
      <h3>味噌、豚骨、家系</h3>
   <p>炙り味噌らーめん 麺匠 真武咲弥 渋谷店</p>
    <p>らあめん渋英</p>
    <p>イップウドウ シロマル ベース 渋谷店</p>

    <% when ["5", "2", "1", "1"] %>
  <h3>淡麗系、中華</h3>
    <p>青山シャンウェイ 渋谷</p>
    <p>らあ麺はやし田 渋谷店</p>
    <p>長岡生姜ラーメン</p>

    <% when ["5", "2", "1", "2"] %>
    <h3>淡麗系、中華、マーラータン</h3>
    <p>らあ麺はやし田</p>
    <p>soba MAREN 渋谷店</p>
    <p>頂マーラータン</p>

    <% when ["5", "2", "2", "1"] %>
  <h3>淡麗系、中華</h3>
    <p>らあ麺はやし田</p>
    <p>Renge no Gotoku</p>
    <p>長岡生姜ラーメン</p>

    <% when ["5", "2", "2", "2"] %>
  <h3>淡麗系、中華、マーラータン</h3>
  <p>青山シャンウェイ 渋谷</p>
    <p>頂マーラータン</p>
    <p>長岡生姜ラーメン</p>

    <% when ["5", "2", "3", "1"] %>
    <h3>味噌、豚骨</h3>
    <p>炙り味噌らーめん 麺匠 真武咲弥 渋谷店</p>
    <p>らあめん渋英</p>
    <p>イップウドウ シロマル ベース 渋谷店</p>

<% when ["5", "2", "3", "2"] %>
     <h3>味噌、豚骨</h3>
     <p>炙り味噌らーめん 麺匠 真武咲弥 渋谷店</p>
    <p>らあめん渋英</p>
    <p>イップウドウ シロマル ベース 渋谷店</p>

<% end %>

</div>
